<style>
table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
}
</style>

    <div id="main-container" class="container">
		  <nav role="navigation">
		      <div class="inner">
	    
			<table>  
					<th><%= image_tag "pGuard.png"  %></th>
		            
						<td><table>
							<tr>
								
						<td><%= link_to "Show", high_score_path(@charlie, :id => 1), class: 'btn btn-*-outline btn-sm' %></td>
		                <td><%= link_to "Scores", high_scores_path, class: 'btn btn-*-outline btn-sm' %></td>
		                <td><%= link_to "Add Score", new_high_score_path, class: 'btn btn-*-outline btn-sm' %></td>
                            </tr>
							<tr>
						<td><%= link_to "Home", root_path, class: 'btn btn-default btn-sm' %></td>
		                <td><%= link_to "Scores", high_scores_path, class: 'btn btn-default btn-sm' %></td>
		                <td><%= link_to "Add Score", new_high_score_path, class: 'btn btn-default btn-sm' %></td>
	                        </tr>
							<tr>
						<td><%= link_to "Home", root_path, class: 'btn btn-default btn-sm' %></td>
		                <td><%= link_to "Scores", high_scores_path, class: 'btn btn-default btn-sm' %></td>
		                <td><%= link_to "Add Score", new_high_score_path, class: 'btn btn-default btn-sm' %></td>
		                    </tr>
							<tr>
						<td><%= link_to "Home", root_path, class: 'btn btn-default btn-sm' %></td>
		                <td><%= link_to "Scores", high_scores_path, class: 'btn btn-default btn-sm' %></td>
		                <td><%= link_to "Add Score", new_high_score_path, class: 'btn btn-default btn-sm' %></td>
		                    </tr>
							<tr>
						<td><%= link_to "Home", root_path, class: 'btn btn-default btn-sm' %></td>
		                <td><%= link_to "Scores", high_scores_path, class: 'btn btn-default btn-sm' %></td>
		                <td>
	  					  <% if user_signed_in? %>
	         				<%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-default btn-sm') %>
	  					  <% else %>
	  					    <%= link_to('Login', new_user_session_path, class: 'btn btn-default btn-sm' ) %>  
	  					  <% end %>
		                </td>
			                </tr>
						</table>
					</td>			  
				</table>
		      </div>
		  </nav>		  
    </div>




