<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>

    <div id="main-container" class="container">
		  <nav role="navigation">
		      <div class="inner">
	    
			<table>  
					<th><%= image_tag "pGuard.png"  %></th>
		            
						<td><table>
							<tr>
						<td><%= button_to "Home", root_path %></td>
		                <td><%= button_to "High Scores", high_scores_path %></td>
		                <td><%= button_to "Add Score", new_high_score_path %></td>
                            </tr>
							<tr>
						<td><%= button_to "Home", root_path %></td>
			            <td><%= button_to "High Scores", high_scores_path %></td>
			            <td><%= button_to "Add Score", new_high_score_path %></td>
	                        </tr>
							<tr>
						<td><%= button_to "Home", root_path %></td>
				        <td><%= button_to "High Scores", high_scores_path %></td>
				        <td><%= button_to "Add Score", new_high_score_path %></td>
		                    </tr>
							<tr>
						<td><%= button_to "Home", root_path %></td>
				        <td><%= button_to "High Scores", high_scores_path %></td>
				        <td><%= button_to "Add Score", new_high_score_path %></td>
		                    </tr>
							<tr>
					    <td><%= button_to "Home", root_path %></td>
					    <td><%= button_to "High Scores", high_scores_path %></td>
					    <td><%= button_to "Add Score", new_high_score_path %></td>
			                </tr>
						</table>
					</td>			  
				</table>
		      </div>
		  </nav>		  
    </div>




